body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: rgb(246, 124, 189);
    color:black;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 40% 0px 40%;
    text-shadow: 1px 2px 2px yellowgreen;
    font-family: cursive;
}

header h1 {
    margin: 0;
}


section.about-section {
    max-width: 400px;
    margin: 10px auto;
    padding: 0 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    

}
.salon h2{
    text-align: center;
    color: teal;
    text-shadow: 2px 1px 1px black;  
    background-color: violet;
    width: calc(91% + 40px); 
    border-radius: 0px 40%;
    margin: 0 auto;
    padding: 1.5rem ;
}
.image img{
    max-width: 400px;
    height: auto; 
    border-radius: 0px 40%;
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
section.about-section {
    max-width: 500px;
    margin-top: -50%;
    padding: 20px;
    margin-left: auto; 
    margin-right: 0; 
    border-radius: 40px;
}
 .about-section p{
   
        font-size: 18px; 
        line-height: 1.6; 
        color:  brown; 
        margin-bottom: 20px; 
    } 
    
    .about-section p:first-child {
        font-weight: bold; /* Make the first paragraph bold */
    }

.salon h2 i{
    color:#ff7f50;
}
footer {
    
    bottom: 0;
    width: 100%;
    background: linear-gradient(-35deg, rgb(248, 4, 228) 45%, white);
    padding: 20px; 
    border-radius: 0 40%;
    box-sizing: border-box;
    text-align: center;
}

.footer-logo img {
    width: 100px;
    display: block;
    margin: 0 auto 10px; 
    border-radius: 50%;
}

.footer-text {
    font-size: 24px; 
    font-family: cursive;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a {
    display: inline-block;
    padding: 5px;
}

.icons a i {
    font-size: 24px;
    color: black;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 5px;
}

.copyrights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-weight: bold;
}
.copyrights h2 {
    margin-top: -5px; 
}

.copyrights p {
    margin-top: -5px;
}

@media only screen and (max-width: 768px) {
    section.about-section{
        max-width: 100%;
        margin-top: 0;
    }
    .image img {
        max-width: 100%;
        border-radius: 0px 40%;
        margin-top: 10px;
    }
    .footer-logo img {
        width: 80px;
    }
    .footer-text {
        font-size: 20px;
    }
}
