body {
  font-family: Arial, sans-serif;
  background: url(https://www.freepik.com/free-vector/purple-watercolor-background_891710.htm#fromView=search&page=1&position=0&uuid=a30ea991-16e6-4ad3-9e7f-aa84a854b373);
  
 
}
body header img{
  width: 100%;
  height: 200px;
  border-radius: 0px 30%;
}
h1{
  text-align: center;
  color:orange;
  text-shadow: 4px 2px 4px rgb(224, 53, 144);
  font-weight: bold;
}

 .container {
  display: flex;
  justify-content: center;
 }

.card {
  width: 1000%;
  background-color: wheat;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 2px solid rgb(224, 53, 144);
}
.card img{
  padding: 10px;
  border-radius: 30px;
}
.img h2{
  text-align: center;
 
  
}
