body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header {
    background-color: rgb(246, 124, 189);
    color:black;
    text-align: center;
    padding: 1.5rem 0;
    border-radius: 40% 0px 40%;
    text-shadow: 1px 2px 2px yellowgreen;
    font-family: cursive;
}

header h1 {
    margin: 0;
}


section.about-section {
    max-width: 400px;
    margin: 10px auto;
    padding: 0 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    

}
.salon h2{
    text-align: center;
    color: teal;
    text-shadow: 2px 1px 1px black;  
    background-color: violet;
    width: calc(91% + 40px); 
    border-radius: 0px 40%;
    margin: 0 auto;
    padding: 1.5rem ;
}
.image img{
    max-width: 400px;
    height: auto; 
    border-radius: 0px 40%;
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
}
section.about-section {
    max-width: 500px;
    margin-top: -50%;
    padding: 20px;
    margin-left: auto; 
    margin-right: 0; 
    border-radius: 40px;
}
 .about-section p{
   
        font-size: 18px; 
        line-height: 1.6; 
        color:  brown; 
        margin-bottom: 20px; 
    } 
    
    .about-section p:first-child {
        font-weight: bold; 
    }

.salon h2 i{
    color:#ff7f50;
}

footer {
   
    background: linear-gradient(-35deg, rgb(248, 4, 228) 45%, white);
    padding: 60px; 
    border-radius: 0px 40%;
    position: sticky;
}

.footer-logo img {
    width: 100px; 
    display: block;
    margin:  -40px auto 0;
    border-radius: 50%;
}   

.footer-text {
    font-size: 30px;
    font-family: cursive;
    text-align: center; 
    display: flex;
    justify-content: center;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons a {
    display: inline-block;
    padding: 5px;
}

.icons a i {
    font-size: 24px; 
    color: black; 
    border-radius: 50%; 
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px; 
    margin: 5px;
}

.footer-col {
    width: calc(100% / 3); 
    padding: 0 15px;
    margin: 0 20px 0 0;
    margin-top: -15%;
    float: left; 
    box-sizing: border-box; 
}

.footer-col h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-weight: 700;
    position: relative;
   
    font-style: italic;
    
    font-family: 'Times New Roman', Times, serif;
}

.footer-col h4::before {
    content: '';
    position: absolute;
     left: 10%; 
    bottom: -10px;
    background-color: white;
    height: 2px;
    box-sizing: border-box;
    width: 70px;
    transform: translateX(-50%);
    text-align: center;    
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: 300;
    transition: all 0.3s ease;
}

.footer-col ul a:hover {
    color: black;
    padding-left: 10px;
    background-color: pink;
    border-radius: 20px;
}

.copyrights{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    }
    .copyrights h2 {
        margin-top: -5px; 
    } 

@media only screen and (max-width: 768px) {
        .footer {
            padding: 40px;
        }
    
        .footer-text {
            font-size: 24px;
        }
    
        .icons a i {
            font-size: 20px;
            padding: 8px;
        }
    
        .footer-col {
            width: 100%;
            margin: 0;
           
        }
    
        .footer-col h4::before {
            width: 50px;
        }
    
        .footer-col ul a {
            font-size: 14px;
        }
        .copyrights {
            font-size: 14px; 
        }
    }


@media (max-width: 768px) {
    section.about-section{
        max-width: 100%;
        margin-top: 0;
    }
    .image img {
        max-width: 100%;
        border-radius: 0px 40%;
        margin-top: 10px;
    }
    .footer-logo img {
        width: 80px;
    }
    .footer-text {
        font-size: 20px;
    }
}
